@font-face {
  font-family: YSBlack;
  src: url("../assets/fonts/text-black.woff");
}

@font-face {
    font-family: YSMedium;
    src: url("../assets/fonts/text-medium.woff");
  }
  

  @font-face {
    font-family: YSRegular;
    src: url("../assets/fonts/text-regular.woff");
  }
  
